.header-top .header__logo img {
  width: 130px;
  height: auto;
}
.header-top .header-menu__link {
  transition: 0.3s;
}
.header-top .header-menu__link:hover {
  color: #c2acb7;
}

.color-circle__title {
  font-family: inherit;
  font-weight: bold;
  font-size: 13px;
  line-height: 155%;
  text-align: center;
  padding-top: 45%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.color-circle {
  border-radius: 100%;
  transition: 0.2s ease;
}

.color-circle.hover-slide-item {
  box-shadow: 0;
  border-radius: 0;
  border: 1px;
  transition-delay: 0.3ms;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  cursor: pointer;
}
.color-circle.hover-slide-item .color-circle__title {
  padding-top: 0%;
}
.color-circle.hover-slide-item .figure__music {
  transition-delay: 0.3ms;
  opacity: 1;
  transition: 0.3ms;
}
.color-circle.hover-slide-item .figure__compgraph {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__film {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__publish {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__architech {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__design {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__film {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__tv {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__it {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__gamedev {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__fashion {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__art {
  opacity: 1;
}
.color-circle.hover-slide-item .figure__newmedia {
  opacity: 1;
}

.body--dark .header::before {
  background: linear-gradient(180deg, #bf96f74d -81.91%, rgba(191, 150, 247, 0) 81.91%);
}

.section-new {
  position: relative;
  height: 350px;
}

.section-for__avatar {
  width: 300px;
  height: auto;
  position: relative;
  margin-left: 5%;
}
.section-for__avatar img {
  border-radius: 50%;
  filter: grayscale(1);
}
.section-for__avatar img:before {
  content: "";
  position: absolute;
  border: 2px solid grey;
  left: 20%;
  top: 20%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-for__quote {
  max-width: 750px;
  flex: 0 0 750px;
  margin-top: 0;
}

.section-for__quote-new {
  height: 100%;
  display: flex;
  align-items: center;
}

.section-for__quote-devider {
  width: 191px;
}

.section-award {
  background: #222;
}

.figure__music {
  opacity: 0;
}

.figure__compgraph {
  opacity: 0;
}

.figure__film {
  opacity: 0;
}

.figure__publish {
  opacity: 0;
}

.figure__architech {
  opacity: 0;
}

.figure__design {
  opacity: 0;
}

.figure__film {
  opacity: 0;
}

.figure__it {
  opacity: 0;
}

.figure__tv {
  opacity: 0;
}

.figure__gamedev {
  opacity: 0;
}

.figure__fashion {
  opacity: 0;
}

.figure__art {
  opacity: 0;
}

.figure__newmedia {
  opacity: 0;
}
