.header-top .header__logo img {
  width: 130px;
  height: auto;
}
.header-top .header-menu__link {
  transition: 0.3s;
}
.header-top .header-menu__link:hover {
  color: #c2acb7;
}

.body--dark .header::before {
  background: linear-gradient(180deg, #bf96f74d -81.91%, rgba(191, 150, 247, 0) 81.91%);
}

.section-new {
  position: relative;
  height: 350px;
}

.section-for__avatar {
  width: 300px;
  height: auto;
  position: relative;
  margin-left: 5%;
}
.section-for__avatar img {
  border-radius: 50%;
  filter: grayscale(1);
}
.section-for__avatar img:before {
  content: "";
  position: absolute;
  border: 2px solid grey;
  left: 20%;
  top: 20%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-for__quote {
  max-width: 750px;
  flex: 0 0 750px;
  margin-top: 0;
}

.section-for__quote-new {
  height: 100%;
  display: flex;
  align-items: center;
}

.section-for__quote-devider {
  width: 191px;
}

.section-award {
  background: #222;
}

.section-title {
  max-width: 360px;
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 991px) {
  .section-title {
    max-width: 100%;
  }
}
@media (min-width: 991px) {
  .section-title {
    max-width: 100%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}

.section-partners__content {
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  align-content: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section-partners__content {
    margin-top: 28px;
    align-content: center;
  }
}
@media (max-width: 991px) {
  .section-partners__content {
    margin-top: 30px;
  }
}
.contacts-grid__item-desc {
  color: #868686;
  flex: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
  padding-right: 88px;
}

@media (max-width: 1199px) {
  .contacts-grid__item-desc {
    padding-right: 70px;
  }
}
@media (max-width: 991px) {
  .contacts-grid__item-desc {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .contacts-grid__item-desc {
    padding-right: 35px;
  }
}
.contacts-grid__item-link > a {
  color: #868686;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 152%;
  text-decoration: none;
}

.section-title-footer {
  color: #868686;
}

.border-bottom-white-footer {
  position: relative;
  z-index: 5;
  width: 80%;
  border-bottom: 1px solid #fbfbfb;
  padding-top: 42px;
  align-self: center;
}

.social-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  padding-bottom: 79px;
}
.social-panel a {
  margin-left: 10px;
}

@media (max-width: 576px) {
  .social-panel {
    max-width: 225px;
  }
}
