.bg-light-gradient {
  background: linear-gradient(269.91deg, #c3a5f2 12.69%, white 99.92%) !important;
}

.bg-dark-gradient {
  background: linear-gradient(94.05deg, #1e1e1e -13.27%, #c3a5f2 133.53%) !important;
}

.text-white {
  color: #fbfbfb !important;
}

.text-green {
  color: #289b65 !important;
}

.text-red {
  color: #ef403b !important;
}

.text-blue {
  color: #4165b0 !important;
}

.text-lightblue {
  color: #44c5e1 !important;
}

.text-yellow {
  color: #ffe600 !important;
}

.text-pink {
  color: #f9c5d4 !important;
}

.text-semipink {
  color: #c3a5f2 !important;
}

.text-dark-gradient {
  background: linear-gradient(94.05deg, #1e1e1e -13.27%, #c3a5f2 133.53%) !important;
  -webkit-background-clip: text !important;
          background-clip: text !important;
  text-fill-color: transparent !important;
  color: transparent;
}

.text-light-gradient {
  background: linear-gradient(269.91deg, #c3a5f2 12.69%, white 99.92%) !important;
  -webkit-background-clip: text !important;
          background-clip: text !important;
  text-fill-color: transparent !important;
  color: transparent;
}

.border-green {
  border-color: #289b65 !important;
}

.border-red {
  border-color: #ef403b !important;
}

.border-blue {
  border-color: #4165b0 !important;
}

.border-lightblue {
  border-color: #44c5e1 !important;
}

.border-yellow {
  border-color: #ffe600 !important;
}

.border-pink {
  border-color: #f9c5d4 !important;
}

.bg-coral {
  background-color: #f9c5d4;
}

.bg-green {
  background-color: #299b64;
}

.bg-emerland {
  background-color: #004542;
}

.bg-pink {
  background-color: #c3a5f2;
}

.bg-semipink {
  background-color: #f6c4df;
}

.bg-yellow {
  background-color: #ffe600;
}

.bg-violet {
  background-color: #3a0e7f;
}

.bg-lightblue {
  background-color: #c3eaf4;
}

.bg-ultrablue {
  background-color: #2967e2;
}

.bg-darkaqua {
  background-color: #103a54;
}

.bg-semigreen {
  background-color: #3aeda8;
}

.bg-aqua {
  background-color: #1fcce8;
}

.bg-blood {
  background-color: #600327;
}

.bg-ultrared {
  background-color: #f93e3e;
}

.bg-semired {
  background-color: #f94e4e;
}

.bg-darkness {
  background-color: #232323;
}

.bg-black {
  background-color: #222222;
}

.bg-2a2a2a {
  background-color: #2a2a2a;
}

.bg-535353 {
  background-color: #535353;
}

.bg-white {
  background-color: #ffffff;
}

.bg-border-gray {
  background-color: transparent;
  border: 1px solid #868686;
}

.industry-svg__fashion svg path {
  fill: #1e1e1e;
}
.industry-svg__architech svg path {
  fill: #c3eaf4;
}
.industry-svg__music svg path {
  fill: #600327;
}
.industry-svg__tv svg path {
  fill: #3a0e7f;
}
.industry-svg__it svg path {
  fill: #103a54;
}
.industry-svg__marketing svg path {
  fill: #004542;
}
.industry-svg__gamedev svg path {
  fill: #f93e3e;
}
.industry-svg__art svg path {
  fill: #c3a5f2;
}
.industry-svg__publish svg path {
  fill: #299b64;
}
.industry-svg__film svg path {
  fill: #3aeda8;
}
.industry-svg__design svg path {
  fill: #f9c5d4;
}
.industry-svg__newmedia svg path {
  fill: #1fcce8;
}
.industry-svg__compgraph svg path {
  fill: #2967e2;
}
.industry-svg__education svg path {
  fill: #ffe600;
}

.section-collapse {
  background-color: #ffffff;
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  .section-collapse {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .section-collapse {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .section-collapse {
    padding-bottom: 60px;
  }
}
.section-collapse__content {
  margin-top: 0;
}
.section-collapse__content .collapse-shortlist {
  padding-bottom: 75px;
  border-bottom: 1px solid;
  border-color: rgba(34, 34, 34, 0.12);
}
@media (max-width: 1199px) {
  .section-collapse__content .collapse-shortlist {
    padding-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .section-collapse__content .collapse-shortlist {
    padding-bottom: 40px;
  }
}
.section-collapse__inner {
  margin-bottom: -35px;
  padding-top: 32px;
  padding-bottom: 70px;
}
@media (max-width: 576px) {
  .section-collapse__inner {
    padding-bottom: 50px;
  }
}

.collapse-shortlist {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 133px;
  margin-top: 35px;
}
@media (max-width: 767px) {
  .collapse-shortlist {
    min-height: 100px;
  }
}
.collapse-shortlist__header {
  position: sticky;
  top: 0;
  z-index: 1020;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .collapse-shortlist__header {
    top: 70px;
  }
}
@media (max-width: 1199px) {
  .collapse-shortlist__header {
    position: relative;
    top: unset;
  }
}
@media (max-width: 767px) {
  .collapse-shortlist__header {
    position: absolute;
    top: 0;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .collapse-shortlist__header:not([aria-expanded=false]) .collapse-shortlist__cross {
    background-color: #f6f6f6;
    border-radius: 5px;
  }
}
.collapse-shortlist__header:not([aria-expanded=false]) .collapse-shortlist__cross img, .collapse-shortlist__header:not([aria-expanded=false]) .collapse-shortlist__cross image, .collapse-shortlist__header:not([aria-expanded=false]) .collapse-shortlist__cross svg {
  transform: rotate(45deg);
}
.collapse-shortlist__header:not([aria-expanded=false]) + .collapse-shortlist__desc .collapse-shortlist__naming {
  max-height: 100%;
  -webkit-line-clamp: unset;
  display: unset;
  -webkit-box-orient: unset;
  overflow: unset;
  transition: 0.4s ease;
}
.collapse-shortlist__header[aria-expanded=false] .collapse-shortlist__cross {
  background-color: unset;
  border-radius: unset;
}
.collapse-shortlist__image {
  max-width: 133px;
  flex: 0 0 133px;
  margin-right: 70px;
}
@media (max-width: 767px) {
  .collapse-shortlist__image {
    max-width: 100px;
    flex: 0 0 100px;
    margin-right: 30px;
  }
}
.collapse-shortlist__cross {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 45px;
  height: 45px;
  transition: 0.4s ease;
}
@media (max-width: 767px) {
  .collapse-shortlist__cross {
    width: 20px;
    height: 45px;
  }
}
.collapse-shortlist__cross img, .collapse-shortlist__cross image, .collapse-shortlist__cross svg {
  width: 21px;
  height: 21px;
  transition: 0.4s ease;
}
@media (max-width: 767px) {
  .collapse-shortlist__cross img, .collapse-shortlist__cross image, .collapse-shortlist__cross svg {
    width: 15px;
    height: 15px;
  }
}
.collapse-shortlist__desc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -8%;
  margin-left: 203px;
  padding-right: 100px;
}
@media (max-width: 1430px) {
  .collapse-shortlist__desc {
    margin-top: -9%;
  }
}
@media (max-width: 1199px) {
  .collapse-shortlist__desc {
    margin-top: -14.5%;
    margin-bottom: 3.25%;
    min-height: 133px;
  }
}
@media (max-width: 991px) {
  .collapse-shortlist__desc {
    margin-top: -19.5%;
    margin-left: 183px;
  }
}
@media (max-width: 767px) {
  .collapse-shortlist__desc {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 130px;
    padding-right: 30px;
    min-height: 100px;
  }
}
.collapse-shortlist__location {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .collapse-shortlist__location {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.collapse-shortlist__naming {
  max-height: 52px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  transition: 0.4s ease;
}
@media (max-width: 767px) {
  .collapse-shortlist__naming {
    -webkit-line-clamp: 2;
    font-size: 12px;
    line-height: 152%;
  }
}
@media (min-width: 1200px) {
  .collapse-shortlist__area {
    margin-left: 203px;
  }
}
.collapse-shortlist__content {
  margin-top: 58px;
}
.collapse-shortlist__content p {
  font-weight: normal;
  font-size: 17px;
  line-height: 152%;
  white-space: pre-line;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .collapse-shortlist__content p {
    font-size: 12px;
  }
}
.collapse-shortlist__content p:last-of-type {
  margin-bottom: 0;
}
.collapse-shortlist__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 152%;
  opacity: 0.9;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .collapse-shortlist__title {
    font-size: 12px;
    line-height: 152%;
    margin-bottom: 15px;
  }
}
.collapse-shortlist__media {
  margin-top: 45px;
}
.collapse-shortlist__cover {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
  overflow: hidden;
  cursor: pointer;
}
.collapse-shortlist__cover img, .collapse-shortlist__cover canvas, .collapse-shortlist__cover image {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
  overflow: hidden;
  transform: translate(-50%, 0);
  cursor: pointer;
}
.collapse-shortlist__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.collapse-shortlist__video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
}
@media (max-width: 767px) {
  .collapse-shortlist__video {
    margin-top: 25px;
  }
}
.collapse-shortlist__video img, .collapse-shortlist__video canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.collapse-shortlist__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: unset;
     object-fit: unset;
}

.collapse-shortlist__image {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.collapse-shortlist__image .collapse-shortlist__preview {
  position: relative;
  display: flex;
  width: 133px;
  height: 133px;
  background-color: #cccccc;
}
@media (max-width: 767px) {
  .collapse-shortlist__image .collapse-shortlist__preview {
    width: 100px;
    height: 100px;
  }
}
.collapse-shortlist__image .collapse-shortlist__preview picture, .collapse-shortlist__image .collapse-shortlist__preview img, .collapse-shortlist__image .collapse-shortlist__preview image, .collapse-shortlist__image .collapse-shortlist__preview svg, .collapse-shortlist__image .collapse-shortlist__preview source, .collapse-shortlist__image .collapse-shortlist__preview object {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.collapse-shortlist__image .collapse-shortlist__winner {
  position: absolute;
  bottom: -21px;
  right: 11px;
  z-index: 1;
  width: 27px;
  height: 70px;
}
.collapse-shortlist__image .collapse-shortlist__winner picture, .collapse-shortlist__image .collapse-shortlist__winner img, .collapse-shortlist__image .collapse-shortlist__winner image, .collapse-shortlist__image .collapse-shortlist__winner svg, .collapse-shortlist__image .collapse-shortlist__winner source, .collapse-shortlist__image .collapse-shortlist__winner object {
  width: 100%;
  height: 100%;
}
.collapse-shortlist__image .collapse-shortlist__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  margin-top: 26px;
}

.header {
  background: transparent !important;
}
.header::before {
  display: none !important;
}

.section-main {
  background-image: linear-gradient(94.05deg, #1e1e1e -13.27%, #c3a5f2 133.53%);
  padding-top: 160px;
  margin-top: -160px;
  padding-bottom: 66px;
}
@media (max-width: 767px) {
  .section-main {
    padding-bottom: 0;
  }
}
.section-main__inner {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .section-main__inner {
    position: relative;
    top: unset;
    left: unset;
    padding-top: 220px;
    padding-bottom: 200px;
    transform: unset;
  }
}
.section-main__bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 527px;
  height: 702px;
}
@media (max-width: 1199px) {
  .section-main__bg {
    width: 407px;
    height: 542px;
  }
}
@media (max-width: 767px) {
  .section-main__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.section-main__bg img, .section-main__bg source, .section-main__bg image, .section-main__bg object, .section-main__bg svg {
  width: 100%;
  height: 100%;
}
.section-main__title > * {
  padding: 5px 0;
}
.section-main__arrow {
  margin-top: 60px;
}

.section-description {
  background: #ffffff;
  padding-top: 110px;
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  .section-description {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .section-description {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
.section-description__title {
  font-family: "Normalidad", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  opacity: 0.9;
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .section-description__title {
    font-size: 36px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .section-description__title {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .section-description__title {
    line-height: 52px;
  }
}
.section-description__text {
  opacity: 0.9;
}
.section-description__text p {
  margin-bottom: revert;
}
.section-description__text p:last-of-type {
  margin-bottom: 0;
}

.section-step {
  background: #ffffff;
  overflow: hidden;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .section-step {
    padding-bottom: 50px;
  }
}
.section-step__inner .section-title {
  padding-top: 32px;
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .section-step__inner .section-title {
    padding-bottom: 50px;
  }
}
.section-step .swiper-container {
  display: flex;
  flex-direction: column;
}
.section-step .swiper-container .swiper-slide .mechanics-card {
  margin-right: 0;
}
.section-step .color-card {
  min-height: 315px;
}
