@import "./../../components/colors";
@import "./../../section/section-collapse";

.header {
    background: transparent !important;
    &::before {
        display: none !important;
    }
}

.section-main {
    background-image: linear-gradient(94.05deg, #1e1e1e -13.27%, #c3a5f2 133.53%);
    padding-top: 160px;
    margin-top: -160px;
    padding-bottom: 66px;
    @media (max-width: 767px) {
        padding-bottom: 0;
    }
    &__inner {
        position: absolute;
        top: 60%;
        left: 50%;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
        @media (max-width: 767px) {
            position: relative;
            top: unset;
            left: unset;
            padding-top: 220px;
            padding-bottom: 200px;
            transform: unset;
        }
    }
    &__bg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 527px;
        height: 702px;
        @media (max-width: 1199px) {
            width: 407px;
            height: 542px;
        }
        @media (max-width: 767px) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        & img,
        & source,
        & image,
        & object,
        & svg {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        & > * {
            padding: 5px 0;
        }
    }
    &__arrow {
        margin-top: 60px;
    }
}

.section-description {
    background: $white;
    padding-top: 110px;
    padding-bottom: 120px;
    @media (max-width: 1199px) {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    &__title {
        font-family: "Normalidad", sans-serif;
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        opacity: 0.9;
        margin-bottom: 44px;
        @media (min-width: 768px) {
            font-size: 36px;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
        }
        @media (min-width: 1024px) {
            margin-bottom: 55px;
        }
        @media (min-width: 1200px) {
            line-height: 52px;
        }
    }
    &__text {
        opacity: 0.9;
        & p {
            margin-bottom: revert;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.section-step {
    background: $white;
    overflow: hidden;
    padding-bottom: 120px;
    @media (max-width: 991px) {
        padding-bottom: 50px;
    }
    &__inner {
        & .section-title {
            padding-top: 32px;
            padding-bottom: 70px;
            @media (max-width: 991px) {
                padding-bottom: 50px;
            }
        }
    }
    & .swiper-container {
        display: flex;
        flex-direction: column;
        & .swiper-slide {
            & .mechanics-card {
                margin-right: 0;
            }
        }
    }

    .color-card {
        min-height: 315px;
    }
}
