@import "./../../components/colors";
@import "./../../components/fonts";
@import "./item";
.wrapper {
    background: $white;
}

.section-eventshow {
    padding-top: 30px;
    padding-bottom: 38px;
    @media (max-width: 991px) {
        padding-top: 80px;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
    }
}

.eventshow-preheader {
    display: grid;
    grid-template-columns: auto 530px;
    row-gap: 32px;
    column-gap: 20px;
    margin-bottom: 22px;
    @media (max-width: 1199px) {
        grid-template-columns: auto 300px;
    }
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right {
        @media (max-width: 991px) {
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }
    &__preview {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 257px;
        @media (max-width: 1199px) {
            padding-bottom: 200px;
        }
        @media (max-width: 991px) {
            width: 350px;
        }
        @media (max-width: 576px) {
            width: 100%;
            padding-bottom: 56.5%;
        }
        & img,
        & canvas,
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            object-fit: cover;
        }
    }
    &__title {
        & .h3 {
            @media (min-width: 1024px) {
                margin-top: 25px;
            }
            margin-bottom: 16px;
        }
    }
    &__status {
        position: relative;
        height: 21px;
        padding-left: 13px;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: $c-f93e3e;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s ease;
        &.now {
            margin-bottom: 37px;
            visibility: visible;
            opacity: 1;
            transition: 0.4s ease;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 7px;
            height: 7px;
            border-radius: 60px;
            background-color: $c-f93e3e;
        }
    }
    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }
    & .industry-item {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 15px 8px;
        margin-right: 16px;
        border: 1px solid $c-222222;
        border-radius: 50px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $c-222222;
        text-decoration: none;
        cursor: pointer;
        transition: 0.4s ease;
        @media (max-width: 767px) {
            margin-right: 0;
            margin-bottom: 15px;
            &:last-of-type {
                margin: 0;
            }
        }
        &:hover {
            color: transparentize($c-222222, 0.3);
            border-color: transparentize($c-222222, 0.3);
            text-decoration: none;
            transition: 0.4s ease;
        }
    }
    &__condition {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        background-color: $c-f4f4f4;
        padding: 8px 12px 8px;
        border-radius: 50px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $c-222222;
        width: max-content;
    }
}

.eventshow-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 32px;
    &__item {
        position: relative;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-right: 32px;
        padding-left: 23px;
        color: $c-222222;
        text-decoration: none;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__icon {
        transition: 0.4s ease;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 16px;
            height: 16px;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
        }
        &-quote {
            color: $c-103a54;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.42503 3.94209C10.0561 3.73727 10.7837 3.74093 11.3792 4.04696C12.7532 4.75298 13.3477 6.57264 12.7946 8.50073C12.5465 9.36563 12.1102 10.2055 11.1861 11.0531C10.262 11.9008 8.98034 12.4008 8.38571 12.4008C8.17269 12.4008 8 12.2329 8 12.0258C8 11.8187 8.17644 11.6508 8.38571 11.6508C9.06497 11.6508 9.67189 11.2811 10.3906 10.7367C10.9406 10.32 11.3701 9.78706 11.608 9.32264C12.0628 8.4344 12.0782 7.18247 11.3433 6.84974C10.9904 7.23528 10.5295 7.46019 9.97725 7.46019C8.7773 7.46019 8.0701 6.49485 8.10051 5.62082C8.12957 4.78547 8.66032 4.19027 9.42503 3.94209ZM3.42503 3.94209C4.05614 3.73727 4.78366 3.74093 5.37923 4.04696C6.7532 4.75298 7.34766 6.57264 6.79462 8.50073C6.54654 9.36563 6.11019 10.2055 5.1861 11.0531C4.26201 11.9008 2.98034 12.4008 2.38571 12.4008C2.17269 12.4008 2 12.2329 2 12.0258C2 11.8187 2.17644 11.6508 2.38571 11.6508C3.06497 11.6508 3.67189 11.2811 4.39058 10.7367C4.94065 10.32 5.37014 9.78706 5.60797 9.32264C6.06282 8.4344 6.07821 7.18247 5.3433 6.84974C4.99037 7.23528 4.52948 7.46019 3.97725 7.46019C2.7773 7.46019 2.0701 6.49485 2.10051 5.62082C2.12957 4.78547 2.66032 4.19027 3.42503 3.94209Z' fill='%23103A54'/%3E%3C/svg%3E%0A");
            }
            &:hover {
                color: $c-103a54;
                opacity: 0.5;
            }
        }
        &-top {
            color: $c-f93e3e;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.22395 1.16526C7.32642 0.918872 7.67546 0.918872 7.77794 1.16526L9.41435 5.09966C9.45755 5.20353 9.55523 5.2745 9.66737 5.28349L13.9149 5.62401C14.1809 5.64534 14.2887 5.97729 14.0861 6.15089L10.8499 8.92301C10.7645 8.99619 10.7272 9.11102 10.7533 9.22045L11.742 13.3653C11.8039 13.6249 11.5215 13.83 11.2938 13.6909L7.65732 11.4698C7.56131 11.4112 7.44057 11.4112 7.34457 11.4698L3.7081 13.6909C3.48037 13.83 3.19799 13.6249 3.25991 13.3653L4.24861 9.22045C4.27471 9.11102 4.2374 8.99619 4.15196 8.92301L0.915805 6.15089C0.713144 5.97729 0.821001 5.64534 1.087 5.62401L5.33451 5.28349C5.44665 5.2745 5.54433 5.20353 5.58754 5.09966L7.22395 1.16526Z' fill='%23F93E3E'/%3E%3C/svg%3E%0A");
            }
            &:hover {
                color: $c-f93e3e;
                opacity: 0.5;
            }
        }
        &-fun {
            color: $c-2967e2;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.49978 1.375C3.8421 1.375 0.876953 4.34015 0.876953 7.99783C0.876953 11.6555 3.8421 14.6207 7.49978 14.6207C11.1574 14.6207 14.1226 11.6555 14.1226 7.99783C14.1226 4.34015 11.1574 1.375 7.49978 1.375ZM1.82695 7.99783C1.82695 4.86482 4.36677 2.325 7.49978 2.325C10.6328 2.325 13.1726 4.86482 13.1726 7.99783C13.1726 11.1308 10.6328 13.6707 7.49978 13.6707C4.36677 13.6707 1.82695 11.1308 1.82695 7.99783ZM5.03735 9.71206C4.87937 9.48557 4.5677 9.43003 4.34121 9.58802C4.11472 9.746 4.05919 10.0577 4.21717 10.2842C4.93914 11.3192 6.14021 11.9981 7.49991 11.9981C8.85962 11.9981 10.0607 11.3192 10.7827 10.2842C10.9406 10.0577 10.8851 9.746 10.6586 9.58802C10.4321 9.43003 10.1205 9.48557 9.96248 9.71206C9.4195 10.4905 8.51895 10.9981 7.49991 10.9981C6.48088 10.9981 5.58032 10.4905 5.03735 9.71206ZM5.37491 7.34808C5.85815 7.34808 6.24991 6.95626 6.24991 6.47308C6.24991 5.98991 5.85815 5.59808 5.37491 5.59808C4.89166 5.59808 4.49991 5.98991 4.49991 6.47308C4.49991 6.95626 4.89166 7.34808 5.37491 7.34808ZM10.4999 6.47308C10.4999 6.95626 10.1082 7.34808 9.62491 7.34808C9.14166 7.34808 8.74991 6.95626 8.74991 6.47308C8.74991 5.98991 9.14166 5.59808 9.62491 5.59808C10.1082 5.59808 10.4999 5.98991 10.4999 6.47308Z' fill='%232967E2'/%3E%3C/svg%3E%0A");
            }
            &:hover {
                color: $c-2967e2;
                opacity: 0.5;
            }
        }
        &-education {
            color: $c-004542;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1464 1.64645C12.3417 1.45118 12.6583 1.45118 12.8535 1.64645L14.8535 3.64645C15.0488 3.84171 15.0488 4.15829 14.8535 4.35355L10.9109 8.29618C10.8349 8.37218 10.7471 8.43543 10.651 8.4835L6.72359 10.4472C6.53109 10.5435 6.29861 10.5057 6.14643 10.3536C5.99425 10.2014 5.95652 9.96889 6.05277 9.77639L8.01648 5.84897C8.06455 5.75283 8.1278 5.66507 8.2038 5.58907L12.1464 1.64645ZM12.5 2.70711L8.91091 6.29618L7.87266 8.37267L8.12731 8.62732L10.2038 7.58907L13.7929 4L12.5 2.70711ZM9.99998 2.5L8.99998 3.5H4.9C4.47171 3.5 4.18056 3.50039 3.95552 3.51877C3.73631 3.53668 3.62421 3.56915 3.54601 3.60899C3.35785 3.70487 3.20487 3.85785 3.10899 4.04601C3.06915 4.12421 3.03669 4.23631 3.01878 4.45552C3.00039 4.68056 3 4.97171 3 5.4V11.6C3 12.0283 3.00039 12.3194 3.01878 12.5445C3.03669 12.7637 3.06915 12.8758 3.10899 12.954C3.20487 13.1422 3.35785 13.2951 3.54601 13.391C3.62421 13.4309 3.73631 13.4633 3.95552 13.4812C4.18056 13.4996 4.47171 13.5 4.9 13.5H11.1C11.5283 13.5 11.8194 13.4996 12.0445 13.4812C12.2637 13.4633 12.3758 13.4309 12.454 13.391C12.6422 13.2951 12.7951 13.1422 12.891 12.954C12.9309 12.8758 12.9633 12.7637 12.9812 12.5445C12.9996 12.3194 13 12.0283 13 11.6V7.49998L14 6.49998V11.6V11.6207C14 12.0231 14 12.3553 13.9779 12.6259C13.9549 12.907 13.9057 13.1653 13.782 13.408C13.5903 13.7843 13.2843 14.0903 12.908 14.282C12.6653 14.4057 12.407 14.4549 12.1259 14.4779C11.8553 14.5 11.5231 14.5 11.1207 14.5H11.1H4.9H4.87934C4.47686 14.5 4.14468 14.5 3.87409 14.4779C3.59304 14.4549 3.33469 14.4057 3.09202 14.282C2.7157 14.0903 2.40973 13.7843 2.21799 13.408C2.09434 13.1653 2.04506 12.907 2.0221 12.6259C1.99999 12.3553 1.99999 12.0231 2 11.6207V11.6206V11.6V5.4V5.37935V5.37932V5.37931C1.99999 4.97685 1.99999 4.64468 2.0221 4.37409C2.04506 4.09304 2.09434 3.83469 2.21799 3.59202C2.40973 3.21569 2.7157 2.90973 3.09202 2.71799C3.33469 2.59434 3.59304 2.54506 3.87409 2.5221C4.14468 2.49999 4.47685 2.49999 4.87932 2.5H4.87935H4.9H9.99998Z' fill='%23004542'/%3E%3C/svg%3E%0A");
            }
            &:hover {
                color: $c-004542;
                opacity: 0.5;
            }
        }
        &-discuss {
            color: $c-3a0e7f;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.50037 1.375C5.49833 1.375 3.87537 2.99797 3.87537 5C3.87537 6.65288 4.98161 8.04738 6.49409 8.48351C5.30007 8.62901 4.27593 9.05134 3.50444 9.81167C2.52252 10.7794 2.02539 12.22 2.02539 14.0999C2.02539 14.3623 2.23806 14.5749 2.50039 14.5749C2.76273 14.5749 2.97539 14.3623 2.97539 14.0999C2.97539 12.3799 3.42822 11.2206 4.17127 10.4883C4.91572 9.75463 6.0271 9.37499 7.50032 9.37499C8.97354 9.37499 10.085 9.75463 10.8294 10.4883C11.5725 11.2206 12.0254 12.3799 12.0253 14.0999C12.0253 14.3623 12.238 14.5749 12.5003 14.5749C12.7627 14.575 12.9753 14.3623 12.9753 14.1C12.9754 12.22 12.4782 10.7794 11.4963 9.81166C10.7248 9.05135 9.70062 8.62903 8.50661 8.48352C10.0191 8.0474 11.1254 6.65289 11.1254 5C11.1254 2.99797 9.5024 1.375 7.50037 1.375ZM4.82537 5C4.82537 3.52264 6.023 2.325 7.50037 2.325C8.97773 2.325 10.1754 3.52264 10.1754 5C10.1754 6.47736 8.97773 7.675 7.50037 7.675C6.023 7.675 4.82537 6.47736 4.82537 5Z' fill='%233A0E7F'/%3E%3C/svg%3E%0A");
            }
            &:hover {
                color: $c-3a0e7f;
                opacity: 0.5;
            }
        }
    }
    &__svg {
        transition: 0.4s ease;
        svg {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 16px;
            height: 16px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
}

.eventshow-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    border-top: 1px solid transparentize($c-222222, 0.9);
    border-bottom: 1px solid transparentize($c-222222, 0.9);
    &__column {
        display: flex;
        flex-direction: column;
        margin-right: 134px;
        @media (max-width: 991px) {
            margin-right: 42px;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
    &__col {
        &-date {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            @media (max-width: 767px) {
                flex: 1;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                row-gap: 18px;
            }
        }
        &-action {
            margin-left: auto;
            @media (max-width: 767px) {
                margin-left: unset;
                display: none;
            }
        }
    }
    &__title {
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: transparentize($c-222222, 0.5);
        margin-bottom: 16px;
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 152%;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        margin-bottom: 0;
        letter-spacing: -0.01em;
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 152%;
        }
    }
}

.eventshow-description {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    & .social-share {
        &__vertical {
            position: absolute;
            top: 70px;
            right: 0;
            @media (max-width: 767px) {
                display: none;
            }
        }
        &__bottom {
            margin-bottom: 0;
            display: none;
            @media (max-width: 767px) {
                position: relative;
                display: flex;
            }
        }
    }
    &__content {
        max-width: 750px;
        margin-bottom: 70px;
        @media (max-width: 1199px) {
            max-width: 620px;
        }
        @media (max-width: 991px) {
            max-width: 580px;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            margin-top: -10px;
            margin-bottom: 122px;
        }
        &>p {
            font-weight: normal;
            font-size: 17px;
            line-height: 152%;
            letter-spacing: -0.01em;
            color: transparentize($c-222222, 0.3);
            margin-bottom: 16px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.eventshow-before {
    display: none;
    @media (max-width: 767px) {
        position: sticky;
        top: 40px;
        padding-bottom: 50px;
        margin-bottom: 10px;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.eventshow-after {
    margin-bottom: 27px;
    @media (max-width: 767px) {
        display: none;
    }
}

.section-speakers {
    padding-top: 32px;
    padding-bottom: 120px;
    &__inner {
        padding-top: 32px;
        padding-bottom: 48px;
        @media (max-width: 767px) {
            padding-top: 24px;
        }
        @media (max-width: 576px) {
            padding-top: 15px;
        }
    }
}

.curator-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 52px;
    @media (max-width: 1199px) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 991px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.curator-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid transparentize($c-222222, 0.9);
    &__wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 200px;
        margin-bottom: 25px;
        @media (max-width: 576px) {
            padding-bottom: 100%;
        }
        & img,
        & canvas,
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            object-fit: cover;
        }
    }
    &__name {
        cursor: pointer;
        font-weight: 800;
        font-size: 18px;
        line-height: 110%;
        letter-spacing: 0.03em;
        color: $c-222222;
        margin-bottom: 17px;
        word-spacing: 300px;
    }
    &__position {
        flex: 1;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: transparentize($c-222222, 0.5);
        margin-bottom: 30px;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__industry {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 767px) {
            order: 2;
            margin-bottom: 0;
        }
        &-title {
            margin-left: 12px;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $c-222222;
        }
    }
}

.section-map {
    margin-bottom: 90px;
    @media (max-width: 767px) {
        margin-bottom: 126px;
    }
    &.light {
        & .map-nav {
            &__text {
                color: $c-222222;
            }
        }
        & .map-industries {
            &__icon {
                filter: invert(100%);
            }
            &__text {
                color: $c-222222;
            }
        }
    }
    & .mobile-section-title {
        display: none;
        @media (max-width: 767px) {
            display: block;
            margin-bottom: 15px;
            font-family: 'Play', sans-serif !important;

            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 117%;
            text-align: center;
            text-transform: uppercase;
            color: $c-fbfbfb;
            padding-bottom: 16px;
            border-bottom: 1px solid $c-fbfbfb;
        }
    }
    &__title {
        margin: 0;
        // padding-bottom: 22px;
        // margin-bottom: 40px;
        // border-bottom: 1px solid $c-fbfbfb;
        @media (max-width: 767px) {
            display: none;
        }
        & br {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
            order: 2;
        }
    }
    &__right {
        @media (max-width: 767px) {
            order: 1;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 340px auto;
        column-gap: 20px;
        row-gap: 20px;
        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__nav {
        margin-top: 22px;
        padding-top: 40px;
        border-top: 1px solid $c-fbfbfb;
        @media (min-width: 1200px) {
            border-top: 0;
        }
        @media (max-width: 767px) {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 0;
        }
    }
    &__list {
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid $c-fbfbfb;
        @media (max-width: 1199px) {
            margin-top: 22px;
            padding-top: 40px;
            padding-right: 100px;
        }
        @media (max-width: 991px) {
            margin-top: 22px;
            padding-top: 40px;
            padding-right: 0;
        }
        @media (max-width: 767px) {
            margin-top: 30px;
            padding-top: 30px;
        }
    }
    &__grid-nav {
        display: grid;
        @media (max-width: 1199px) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    & .map {
        margin-top: 121px;
        @media (max-width: 1199px) {
            margin-top: 0;
        }
        @media (max-width: 991px) {
            margin-top: 86px;
        }
        @media (max-width: 767px) {
            margin-top: 0;
        }
        & svg {
            width: 100%;
            @media (max-width: 1199px) {
                height: auto;
            }
        }
    }
}

.registration-svg {
    position: relative;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    transform: translate(0, -20%);
    &.active {
        opacity: 1;
        visibility: visible;
        transition: 0.4s ease;
        transform: translate(0, 0);
    }
}

.registration-object {
    position: relative;
    z-index: 10;
    transition: 0.4s ease;
    &.active {
        filter: drop-shadow(0 0px 6.5px #6fc49a);
        transition: 0.4s ease;
    }
}

.moscow-svg {
    position: relative;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    transform: translate(0, -20%);
    &.active {
        opacity: 1;
        visibility: visible;
        transition: 0.4s ease;
        transform: translate(0, 0);
    }
}

.moscow-object {
    position: relative;
    z-index: 10;
    transition: 0.4s ease;
    &.active {
        filter: drop-shadow(0 0px 6.5px #f9c5d4);
        transition: 0.4s ease;
    }
}

.minprom-svg {
    position: relative;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    transform: translate(0, -20%);
    &.active {
        opacity: 1;
        visibility: visible;
        transition: 0.4s ease;
        transform: translate(0, 0);
    }
}

.minprom-object {
    position: relative;
    z-index: 10;
    transition: 0.4s ease;
    &.active {
        filter: drop-shadow(0 0px 6.5px #40c4e0);
        transition: 0.4s ease;
    }
}

// safari
.isSafari {
    & .eventshow-preheader {
        & .industry-item {
            padding: 8px 15px 6px;
        }
        &__condition {
            padding: 8px 12px 6px;
        }
    }
}