RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?rc-awards.ru$
RewriteCond %{REQUEST_URI} !^/public_html/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public_html/$1
RewriteCond %{HTTP_HOST} ^(www.)?new-rc.rs-dev.ru$
RewriteRule ^(/)?$ public_html/index.php [L]