.user-kab{
    width: 100%;
}
.user-kab-registry-item{

}
.user-kab-registry{
    padding: 30px;
    border-radius: 2px;
    box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.5);
    overflow: scroll;
    width: 100%;
}

.user-kab-registry-item-info-link{
    text-decoration: none;
    color: black;
    padding: 10px;

}
.user-kab-registry-title{
    text-align: center;
    font-size: 30px !important;
}
.user-kab-registry{

    /*display: flex;*/
    /*justify-content: center;*/
}
.user-kab-registry-item-info div{
    padding: 10px;

}
.user-kab-registry-item-info{
    white-space: nowrap;
    display: flex;
    /*background-color: #5C4D71;*/
}
.user-kab-registry-item{

}




.ua-mane{
    max-width: 100%;
}
.ua-mane-content{
    display: flex;
}
.ua-mane*{
    margin: 0 auto;
}
.section-lk{
    background-color: #9681BA !important;
}
.section-lk p{
    color: white;
}
.section-lk h3{
    color: white !important;
    font-size: 20px;
}
.span-text-form a{
    color: gray;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
}
.section-lk h4{
    color: white !important;
}
.section-lk h5{
    color: white !important;
}
.ua-mane-request-item-num-mane{
}
.ua-mane-request{
    /*margin-left: 10%;*/
    width: 100%;
}
.ua-mane-info-block-logout{
    color: darkslateblue;
    text-decoration: revert;
    text-align: center;
    display: block;
}
.ua-mane-request-item-str p{
    font-size: 10px;
    padding: 10px;
    color: whitesmoke;
}

.ua-mane-request-item-str-wares{
 display: flex;
}
.ua-mane-request-item{
    width: 100%;
    overflow: scroll;
    height: 400px;
    margin-top:50px;
}

.ua-mane-request-item-str{
}

.ua-mane-request-item-str span{
    display: block;
    margin-left: 10px;
    font-size: 15px;
    white-space: nowrap;
}
@media screen and (max-width: 1000px){
    .ua-mane-request-item-num-mane{
        flex-direction: column;
    }
    .ua-mane{
        flex-direction: column;
    }
}
.ua-mane-request-item-link{
    color: blueviolet;
}
.ua-mane-request-item-span{
    margin-left: 3px;
    color: whitesmoke;
    font-style: italic;
    text-decoration-line:underline;
    text-decoration-style:solid;
}
.ua-mane-request-item-p{
    color: whitesmoke;
    font-style: italic;
}
.ua-mane-request-item-second-block{
    /*margin-left: 10%;*/
}
.ua-request-item-num-smt{
    font-size: 14px;
}
.ua-mane-info-block-name{
    font-size: 15px;
    text-align: center;
}
.ua-mane-info-block-email{
    font-size: 15px;
    text-align: center;
}
.ua-mane-info-block{
    box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.5);
    padding: 40px;
    /*min-width: 250px;*/
    height: 200px;
}
.form-change-block2{
}
.ua-mane-request-item-first-block{
    /*max-width: 30%;*/
}
.ua-mane-request-item{
    padding: 30px;
    border-radius: 2px;
    box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.5);
}
