@import "./index";
@import "./../photos/item";
@import "./../../section/section-contacts";
@import "./../../section/section-indamini";
.post-mark {
    &__green {
        background-image: unset !important;
    }
    &__emerland {
        background-image: unset !important;
    }
    &__violet {
        background-image: unset !important;
    }
    &__pink {
        background-image: unset !important;
    }
    &__darkred {
        background-image: unset !important;
    }
}

.slide-wrapper {
    & .slide {
        &.slide-dark {
            background-image: url("data:image/svg+xml,%3Csvg width='523' height='707' viewBox='0 0 523 707' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.25' d='M434.044 453.116C380.121 546.514 311.961 619.846 245.397 662.925C178.782 706.036 114.04 718.695 66.7051 691.366C19.3702 664.037 -2.03813 601.639 1.98992 522.394C6.01492 443.208 35.4426 347.514 89.366 254.116C143.289 160.718 211.449 87.3856 278.013 44.3072C344.628 1.19608 409.37 -11.4628 456.705 15.866C504.04 43.1948 525.448 105.593 521.42 184.838C517.395 264.024 487.968 359.718 434.044 453.116Z' stroke='%23FBFBFB' stroke-width='2'/%3E%3C/svg%3E%0A");
            &::before {
                display: none;
            }
        }
    }
}

.section-main {
    @media (max-width: 767px) {
        margin-bottom: 74px;
    }
    @media (max-width: 576px) {
        margin-bottom: 30px;
    }
}

.section-step {
    padding-top: 120px;
    @media (max-width: 1199px) {
        padding-top: 80px;
    }
}

.section-industries {
    padding-top: 80px;
    padding-bottom: 90px;
    @media (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    &__content {
        margin-top: 0;
    }
    &__btn {
        display: none;
        @media (max-width: 1199px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
    }
}

.section-cta {
    & .section-center-title {
        font-family: 'Play', sans-serif !important;
        font-weight: normal;
        font-size: 36px;
        transition: 0.4s ease;
        @media (max-width: 1199px) {
            font-size: 34px;
        }
        @media (max-width: 991px) {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
}

.section-expert {
    padding-bottom: 120px;
}

.section-partners {
    padding-top: 120px;
    @media (max-width: 1199px) {
        padding-top: 80px;
    }
    @media (max-width: 767px) {
        padding-top: 40px;
    }
}

.section-photos {
    padding-top: 120px;
    padding-bottom: 0px;
    @media (max-width: 991px) {
        padding-bottom: 120px;
    }
    @media (max-width: 767px) {
        padding-bottom: 70px;
    }
    &__inner {
        padding-bottom: 25px;
        @media (max-width: 991px) {
            padding-bottom: 17px;
        }
        @media (max-width: 767px) {
            padding-bottom: 32px;
        }
    }
    & .mobile-section-title {
        display: none;
        @media (max-width: 576px) {
            display: block;
            margin-bottom: 48px;
            font-family: 'Play', sans-serif !important;
            font-weight: 800;
            font-size: 19px;
            line-height: 136%;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $c-222222;
            padding-bottom: 16px;
            border-bottom: 1px solid transparentize($c-222222, 0.9);
        }
    }
    & .section-title {
        padding-top: 32px;
    }
    &__grid {
        margin: auto;
        column-count: 3;
        column-gap: 20px;
        column-fill: balance;
        transition: 0.4s ease;
        @media (max-width: 767px) {
            column-count: 2;
        }
    }
    &__btns {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

[mask="url(#__lottie_element_16)"] path,
[mask="url(#__lottie_element_13)"] path,
[mask="url(#__lottie_element_10)"] path,
[mask="url(#__lottie_element_7)"] path,
[mask="url(#__lottie_element_4)"] path,
[mask="url(#__lottie_element_41)"] path,
[mask="url(#__lottie_element_38)"] path,
[mask="url(#__lottie_element_35)"] path,
[mask="url(#__lottie_element_32)"] path,
[mask="url(#__lottie_element_29)"] path,
[mask="url(#__lottie_element_21)"] path,
[mask="url(#__lottie_element_18)"] path,
[mask="url(#__lottie_element_15)"] path,
[mask="url(#__lottie_element_12)"] path,
[mask="url(#__lottie_element_9)"] path {
    fill: #222222 !important;
}

[mask="url(#__lottie_element_16)"] g:first-child path,
[mask="url(#__lottie_element_13)"] g:first-child path,
[mask="url(#__lottie_element_10)"] g:first-child path,
[mask="url(#__lottie_element_7)"] g:first-child path,
[mask="url(#__lottie_element_4)"] g:first-child path,
[mask="url(#__lottie_element_41)"] g:first-child path,
[mask="url(#__lottie_element_38)"] g:first-child path,
[mask="url(#__lottie_element_35)"] g:first-child path,
[mask="url(#__lottie_element_32)"] g:first-child path,
[mask="url(#__lottie_element_29)"] g:first-child path,
[mask="url(#__lottie_element_21)"] g:first-child path,
[mask="url(#__lottie_element_18)"] g:first-child path,
[mask="url(#__lottie_element_15)"] g:first-child path,
[mask="url(#__lottie_element_12)"] g:first-child path,
[mask="url(#__lottie_element_9)"] g:first-child path {
    fill: url(#gray-gradient) !important;
}