.header-top {
  .header__logo {
    img {
      width: 130px;
      height: auto;
    }
  }

  .header-menu {
    &__link {
      transition: 0.3s;

      &:hover {
        color: #c2acb7;
      }
    }
  }
}

.body--dark .header::before {
  background: linear-gradient(180deg, #bf96f74d -81.91%, rgba(191, 150, 247, 0) 81.91%);
}

.section-new {
  position: relative;
  height: 350px;
}

.avatar__wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 220px;
  height: 220px;
}

.section-for__avatar {
  width: 300px;
  height: auto;
  position: relative;
}

.section-for__quote {
  max-width: 750px;
  flex: 0 0 750px;
  margin-top: 0;
  margin-left: 0;
}

.section-for__quote-new {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-all_width {
  text-align: justify;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-for__left-new {
  min-width: 60%;
}

.section-for__right-new {
  max-width: 15%;
}

.black-gradient::before {
  min-height: 1200px;
}

.section-for__quote-devider {
  width: 191px;
}

.section-award {
  background: #222;
}

.fixed-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 2px 2px 10px white;
  border-radius: 50%;
  z-index: 999;
}

.arrow-up.fixed-button {
  background: aliceblue;
}

.arrow-up.fixed-button svg path {
  fill: #494343 !important;
}

.color-card.hover-slide-item {
  background: white;
}
