@import "grid";
.mass-media-card {
    --c-text: #fbfbfb;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 317px;
    padding: 20px 24px;
    position: relative;
    &:nth-of-type(10n + 1),
    &:nth-of-type(10n + 8) {
        --c-text: #222;
        background-color: #fff;
        // border: 1px solid #eeeeee;
        .mass-media__date {
            opacity: 0.4;
        }
    }
    &:nth-of-type(10n + 2),
    &:nth-of-type(10n + 4),
    &:nth-of-type(10n + 7),
    &:nth-of-type(10n + 9) {
        background-color: #2a2a2a;
    }
    &:nth-of-type(10n + 3),
    &:nth-of-type(10n + 6) {
        background-color: #535353;
    }
    &:nth-of-type(10n + 5),
    &:nth-of-type(10n) {
        background-color: rgb(113, 113, 111);
    }
    a {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-decoration: none !important;
    }
    p {
        color: var(--c-text);
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        &:nth-of-type(3n) {
            height: 317px;
            grid-column: span 2;
        }
    }
    @media (min-width: 1024px) {
        &:nth-of-type(n) {
            grid-column: span 2;
        }
        &:nth-of-type(10n + 4),
        &:nth-of-type(10n + 5),
        &:nth-of-type(10n + 9),
        &:nth-of-type(10n) {
            grid-column: span 3;
        }
    }
}

.mass-media-card__bg-image {
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    @media (max-width: 767px) {
        &:nth-of-type(odd) {
            background-image: none !important;
        }
        &:nth-of-type(even) {
            --c-text: #fbfbfb !important;
            min-height: 317px;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        &:not(:nth-of-type(3n)) {
            background-image: none !important;
        }
        &:nth-of-type(3n) {
            --c-text: #fbfbfb !important;
            min-height: 317px;
        }
    }
    @media (min-width: 1024px) {
        &:not(:nth-of-type(5n + 4)):not(:nth-of-type(5n)) {
            background-image: none !important;
        }
    }
}

.mass-media__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    text-transform: uppercase;
    z-index: 1;
}

.mass-media__description {
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 16px;
    z-index: 1;
}

.mass-media__description-small {
    font-size: 12px;
    line-height: 130%;
    opacity: 0.7;
    margin-bottom: 16px;
    flex-shrink: 1;
    max-height: 60px;
    overflow: hidden;
    z-index: 1;
    @media (max-width: 1199px) {
        display: none;
    }
}

.mass-media__date {
    font-size: 14px;
    line-height: 20px;
    margin-top: auto;
    z-index: 1;
}

.mass-media-card__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}