
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    right: 1%;
    display: none;
    position: absolute;
    background-color: #BC9FE9;
    min-width: 160px;
}

.dropdown-content a {
    color: whitesmoke;
    min-width: 200px;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content-name{
    border-style: solid;
    border-width: 0 0 1px 0;

}
.dropdown-content-logout{
    color: #BC9FE9 !important;
    background-color: whitesmoke;
    text-decoration: underline !important;
}

.dropdown-content-login{
    color: whitesmoke   !important;
    text-decoration: underline !important;
}

.dropdown-content-reg{
    background-color: whitesmoke;
    color: #BC9FE9 !important;
    text-decoration: underline !important;
}

.dropdown:hover .dropdown-content {display: block;}


