@import "./../../components/colors";
@import "./../../components/fonts";
@import "./item";

.wrapper {
    background: $white;
}

.section-live {
    padding-top: 55px;
    padding-bottom: 90px;
    background-color: $white;
    @media (max-width: 991px) {
        padding-top: 41px;
    }
    @media (max-width: 576px) {
        padding-top: 50px;
        padding-bottom: 0;
    }
    &__inner {
        margin-bottom: 50px;
    }
    & .mobile-section-title {
        display: none;
        @media (max-width: 576px) {
            display: block;
            margin-bottom: 48px;
            font-family: Normalidad;
            font-weight: 800;
            font-size: 19px;
            line-height: 136%;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $c-222222;
            padding-bottom: 16px;
            border-bottom: 1px solid transparentize($c-222222, 0.9);
        }
    }
    & .section-title {
        padding-top: 0;
        padding-bottom: 16px;
        color: $c-222222;
    }
    &__content {
    }
    &__now {
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: 70px;
        }
    }
    &__feature-content {
        & .video-grid {
            & .video-item {
                @media (min-width: 1200px) {
                    &:nth-child(n + 9) {
                        display: none;
                    }
                }
                @media (max-width: 1199px) {
                    &:nth-child(n + 3) {
                        display: none;
                    }
                }
            }
        }
    }
    &__filters {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        column-gap: 64px;
        padding-bottom: 84px;
        & > .filter {
            @media (min-width: 1200px) {
                min-width: 250px;
                max-width: 350px;
            }
        }
        @media (max-width: 1199px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 64px;
            row-gap: 25px;
            padding-bottom: 70px;
        }
        @media (max-width: 991px) {
            column-gap: 32px;
            padding-bottom: 48px;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            column-gap: 15px;
            row-gap: 25px;
            padding-bottom: 50px;
        }
        @media (max-width: 576px) {
            padding-bottom: 48px;
        }
    }
    & .filter-industry {
        @media (max-width: 767px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    & .all-videos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
