.opacity {
    &-100 {
        opacity: 1;
    }
    &-90 {
        opacity: 0.9;
    }
    &-85 {
        opacity: 0.85;
    }
    &-80 {
        opacity: 0.8;
    }
    &-75 {
        opacity: 0.75;
    }
    &-70 {
        opacity: 0.7;
    }
    &-65 {
        opacity: 0.65;
    }
    &-60 {
        opacity: 0.6;
    }
    &-55 {
        opacity: 0.55;
    }
    &-50 {
        opacity: 0.5;
    }
    &-45 {
        opacity: 0.45;
    }
    &-40 {
        opacity: 0.4;
    }
    &-35 {
        opacity: 0.35;
    }
    &-30 {
        opacity: 0.3;
    }
    &-25 {
        opacity: 0.25;
    }
    &-20 {
        opacity: 0.2;
    }
    &-15 {
        opacity: 0.15;
    }
    &-10 {
        opacity: 0.1;
    }
    &-05 {
        opacity: 0.05;
    }
    &-0 {
        opacity: 0;
    }
}