// colors
$c-1e1e1e: #1e1e1e;
$c-222222: #222222;
$c-2a2a2a: #2a2a2a;
$c-2b2b2b: #2b2b2b;
$c-fefefe: #fefefe;
$c-fbfbfb: #fbfbfb;
$c-f4f4f4: #f4f4f4;
$c-eeeeee: #eeeeee;
$c-c1c1c1: #C1C1C1;
$c-868686: #868686;
$c-f7f7f7: #f7f7f7;
$c-f9c5d4: #F9C5D4;
$c-c3a5f2: #C3A5F2;
$c-535353: #535353;
$c-c3eaf4: #C3EAF4;
$c-103a54: #103A54;
$c-3aeda8: #3AEDA8;
$c-ffe600: #FFE600;
$c-3a0e7f: #3A0E7F;
$c-004542: #004542;
$c-299b64: #299B64;
$c-d44545: #D44545;
$c-2967e2: #2967E2;
$c-103a54: #103A54;
$c-1fcce8: #1FCCE8;
$c-600327: #600327;
$c-f93e3e: #F93E3E;
$c-232323: #232323;
$c-aad6e1: #AAD6E1;
$white: #ffffff;
