.lk-wrapper {
  margin-top: 20px;
  width: 100vw;
  min-height: 500px;
  background: aliceblue;
  position: relative;
  z-index: 9;
}

.lk-menu {
  background: #222222;
  width: 350px;
  height: 100%;
  position: absolute;
  color: aliceblue;
  padding: 20px 25px;
  text-align: center;

  &-btn {
    margin: 10px;
  }
}

.lk-registry {
  width: calc(100% - 350px);
  position: absolute;
  left: 350px;

  h2 {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
}

.lk-registry__ {
  &grid {
    display: grid;
    grid-template-columns: 10% 20% 20% 21% 21% 8%;
  }

  &header {
    font-size: 12px;

    &-active, &-active i {
      color: #1f1d43 !important;
      font-weight: bold;
    }

    &-date {
      grid-column-start: 4;
    }

    a {
      color: grey;
      text-align: center;
    }

    i {
      margin-left: 6px;
    }
  }
}

.lk-registry__item {
  width: 100%;
  height: 50px;
  padding: 10px;
  transition: 0.3s;
  cursor: default;
  overflow: hidden;

  &:hover {
    background: rgba(244, 180, 250, 0.62);
  }

  &-img {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 55%;

    &__wrapper {
      position: relative;
      width: 60px;
      height: 60px;
      overflow: hidden;
      display: flex;
    }
  }

  &-name, &-info, &-status {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;

    span {
      font-size: 13px;
      color: grey;
      line-height: 13px;
    }
  }

  &-date {
    text-align: center;
  }

  &-status {
    width: 100%;

    &__neutral {
      color: grey !important;
    }

    &__negative {
      color: #802a29 !important;
    }

    &__positive {
      color: #188018 !important;
    }

    &-icon {
      display: none;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    height: 70%;

    a {
      margin-left: 8px;
    }

    &__edit {
      color: #188018 !important;
    }

    &__delete {
      color: #802a29 !important;
    }
  }
}

@media (max-width: 1360px) {
  .lk-menu {
    display: none;
  }
  .lk-registry {
    left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 1100px) {
  .lk-registry__ {
    &grid {
      grid-template-columns: 25% 25% 21% 21% 8%;
    }

    &item-img__wrapper {
      display: none;
    }

    &header-date {
      grid-column-start: 3;
    }
  }
}

@media (max-width: 870px) {
  .lk-registry__ {
    &grid {
      grid-template-columns: 30% 30% 26% 6% 8%;
    }

    &header-status {
      display: none;
    }

    &item- {
      &info {
        white-space: nowrap;
        width: 80%;

        span {
          margin-bottom: 4px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &status {
        margin-left: 0;

        &-text {
          display: none;
        }

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 77%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .lk-registry__ {
    &item-info {
      display: none;
    }

    &grid {
      grid-template-columns: 50% 30% 10% 10%;
    }

    &header-date {
      grid-column-start: 2;
    }
  }
}

@media (max-width: 500px) {
  .lk-registry__ {
    &item-date, &header-date {
      display: none;
    }

    &grid {
      grid-template-columns: 75% 10% 15%;

    }
  }
}
